* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .count {
    font-size: 2em;
  }
  .error {
    color: red;
    display: none;
  }